@{
    ViewBag.Title = "Index";
    Layout = null;
}

@using Lmp.ProductShow.Model;

<html>
    <head>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

<style type="text/css">
    
  table,th,td { border: 1px solid;}
</style>
        



<script type="text/javascript">
    $(function () {
        $("#newCategoryDiv").css("display", "none");
        $("#dialogCancelButton").click(function () {
            $("#newCategoryDiv").css("display", "none");
        });

        $("#addCategoryId").click(function () {
            $("#newCategoryDiv").css("display", "block");
            $("#newCategoryDiv").dialog({
                modal: true,
                resizable: true,
                maximizable: true,
                collapsible: true,
                title: "新增类目",
                width: 400,
                height: 300,
                top: 100,
                left: 100,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function (data) {
                        if (data == "1") {
                            refresh();
                            // window.location.reload();//刷新当前页面
                        } else {
                            alert("新增失败返回：" + data);
                        }
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#newCategoryDiv').dialog('close');
                    }
                }]
            });


        });
        ////$(".newCategoryDiv").css({ "display": "block", "z-index": "999", "position": "absolute", "left": "100px", "top": "10" })
    });
</script>
        </head>
    <body>
<h2>类目列表</h2>
<div id="tableDiv">
    <table id="tableId">
        <tr>
            <td>id</td><td>名称</td><td>父级</td>
        </tr>
        @foreach (var category in (List<tblCategory>)ViewData["categories"])
        {
            <tr>
                <td>@category.id</td><td>@category.name</td><td>@category.parent</td>
            </tr>
        }
       

    </table>
        <button type="button" id="addCategoryId">新增</button>
</div>

<div id="newCategoryDiv">
    <form action="/Category/Add">
        <table>
            <tr>
                <td>上级类目</td>
                <td>
<select name="parentId">
    @foreach (var category in (List<tblCategory>)ViewData["category1"])
    {
        <option value="@category.id">@category.name</option>
    }
</select></td>
            </tr>
            <tr>
                <td>新增类目名称</td>
                <td>
                    <input type="text" id="newCategoryNameId" name="categoryname" /></td>
            </tr>

        </table>
        <input type="button" id="dialogOKButton" value="OK"/>
        <input type="button" id="dialogCancelButton" value="Cancel" />
    </form>


</div>
        </body>
    </html>