
@*@model Lmp.ProductShow.AdminWebApp.Models.CategoryModel;*@

@{
    ViewBag.Title = "Index";
    Layout = null;
}

@using Lmp.ProductShow.Model;

<html>
    <head>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

<style type="text/css">
    
  table,th,td { border: 1px solid;}
</style>
        



<script type="text/javascript">
    $(function () {
        $("#newCategoryDiv").css("display", "none");
        $("#dialogCancelButton").click(function () {
            $("#newCategoryDiv").dialog("close");
        });
        

        $("#addCategoryId").click(function () {
            //$("#newCategoryDiv").dialog();

            //$("#newCategoryDiv").css("display", "block");
            $("#newCategoryDiv").dialog({
                modal: true,
                resizable: true,
                maximizable: true,
                collapsible: true,
                title: "新增类目",
                width: 400,
                height: 300,
                top: 100,
                left: 100                
            });


        });
    });
</script>
        </head>
    <body>
<h2>类目列表</h2>
<div id="tableDiv">
    <table id="tableId">
        <tr>
            <td>id</td><td>名称</td><td>父级</td><td>删除</td>
        </tr>
        @foreach (var category in (List<tblCategory>)ViewData["categories"])
        {
            <tr>
                <td>@category.id</td><td>@category.name</td><td>@category.parent</td><td><a href="/Category/Delete/@category.id">删除</a></td>
            </tr>
        }
       

    </table>
        <button type="button" id="addCategoryId">新增</button>
</div>

<div id="newCategoryDiv">
    <form action="/Category/Add">
        <table>
            <tr>
                <td>上级类目</td>
                <td>
                    @*@Html.ListBoxFor(m=>m.parent)*@
<select name="parent">
    @foreach (var category in (List<tblCategory>)ViewData["category1"])
    {
        <option value="@category.id">@category.name</option>
    }
</select>

                </td>
            </tr>
            <tr>
                <td>新增类目名称</td>
                <td>
                    <input type="text" id="newCategoryNameId" name="name" />
                    @*@Html.TextBoxFor(m=>m.name)*@
                </td>
            </tr>

        </table>
        <input type="submit" id="dialogOKButton" value="OK"/>
        <input type="button" id="dialogCancelButton" value="Cancel" />
    </form>


</div>
        </body>
    </html>